<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.corodiak.booksys.mapper.WaitingMapper">
	<resultMap type="Waiting" id="Waiting">
		<result column="oid" property="waitingOid" />
		<result column="booking_oid" property="bookingOid" />
		<result column="covers" property="bookingCovers" />
		<result column="date" property="bookingDate" />
		<result column="time" property="bookingTime" />
		<association column="customer_id" property="waitingCustomer" javaType="org.corodiak.booksys.domain.Customer" resultMap="Customer" />
	</resultMap>
	
	<resultMap type="Customer" id="Customer">
		<id column="customer_oid" property="customerOid" />
		<result column="id" property="customerId" />
		<result column="password" property="customerPassword" />
		<result column="name" property="customerName" />
		<result column="phoneNumber" property="customerPhoneNumber" />
		<result column="birthday" property="customerBirthday" />
	</resultMap>
	
	<insert id="insertWaiting" parameterType="Map">
		INSERT INTO `Waiting` (`booking_id`, `customer_id`)
		VALUES (${waiting.bookingOid}, #{customerOid})
		<selectKey keyProperty="waiting.waitingOid" resultType="int">
        	SELECT LAST_INSERT_ID()
   	 	</selectKey>
	</insert>
	
	<select id="selectWaitingList" resultMap="Waiting">
		SELECT
			`Waiting`.`oid`,
			`Booking`.`oid` AS 'booking_oid', `Booking`.`covers`, `Booking`.`date`, `Booking`.`time`,
			`Customer`.`oid` AS `customer_oid`, `Customer`.`id`, `Customer`.`name`, `Customer`.`phoneNumber`, `Customer`.`birthday`
		FROM `Waiting`
		JOIN `Booking` ON `Waiting`.`booking_id` = `Booking`.`oid`
		JOIN `Customer` ON `Waiting`.`customer_id` = `Customer`.`oid`
		ORDER BY `Booking`.`oid` ASC
	</select>
	
	<select id="selectWaitingByCustomerOid" parameterType="Map" resultMap="Waiting">
		SELECT
			`Waiting`.`oid`,
			`Booking`.`oid` AS 'booking_oid', `Booking`.`covers`, `Booking`.`date`, `Booking`.`time`,
			`Customer`.`oid` AS `customer_oid`, `Customer`.`id`, `Customer`.`name`, `Customer`.`phoneNumber`, `Customer`.`birthday`
		FROM `Waiting`
		JOIN `Booking` ON `Waiting`.`booking_id` = `Booking`.`oid`
		JOIN `Customer` ON `Waiting`.`customer_id` = `Customer`.`oid`
		WHERE `Waiting`.`customer_id` = #{customerOid}
	</select>
	
	<select id="selectWaitingByOid" parameterType="Map" resultMap="Waiting">
		SELECT
			`Waiting`.`oid`,
			`Booking`.`oid` AS 'booking_oid', `Booking`.`covers`, `Booking`.`date`, `Booking`.`time`,
			`Customer`.`oid` AS `customer_oid`, `Customer`.`id`, `Customer`.`name`, `Customer`.`phoneNumber`, `Customer`.`birthday`
		FROM `Waiting`
		JOIN `Booking` ON `Waiting`.`booking_id` = `Booking`.`oid`
		JOIN `Customer` ON `Waiting`.`customer_id` = `Customer`.`oid`
		WHERE `Waiting`.`oid` = #{oid}
	</select>
	
	<delete id="deleteWaitingByOid" parameterType="Map">
		DELETE FROM `Waiting` WHERE `oid` = #{oid}
	</delete>
	
</mapper>